meta(name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;")

.ToDoList
  h2 TO DO LIST
  .add
    input#input_name(type="text",placeholder="Add a task...")
    span.btn.addbtn
  .lists#doList
    //- .task.complete Buy a pen  
    //-   .time 9:00
    //-   .btn
    //- .task Meeting 
    //-   .time 10:30
    //-   .btn

//-偽元素無法被JQuery選取 下次盡量不要把偽元素當作點擊項目
//-新增任務、打勾、刪除任務的動畫要再思考如何達成