meta(name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;")

.ToDoList
  h2 TO DO LIST
  .add
    input#input_name(type="text",placeholder="Add a task...")
    span.btn.addbtn
  .lists#doList
    //- .task.complete Buy a pen  
    //-   .time 9:00
    //-   .btn
    //- .task Meeting 
    //-   .time 10:30
    //-   .btn

